<%- include('partials/header.ejs')%>
    <h1><%= title %></h1>
    <%- include('partials/nav.ejs')%>
    <%- include('partials/main.ejs')%>
    <p>
        My full name is Hugo Fabricio Salas Daza.<br>
        I like to program and learn new things about it everyday, I work hard to develop a succesful career
        as a software enginnering.<br>
        For that purpouse I am always willing to continue learning new things
    </p>
    <img src="/images/photo.jpg" height="150px" alt="photpgraphy"><br>
    <a href="/documents/resume.pdf" target="_blank">resume</a>

<%- include('partials/footer.ejs')%>