<%- include('partials/header.ejs')%>
    <h1><%= title %></h1>
    <%- include('partials/nav.ejs')%>
    <%- include('partials/main.ejs')%>
    <h2>Welcome to my personal webpage!</h2>
    <p>
        My name is Hugo Salas, I am passionate programer studying in Centennil College to get my programer career to the next level!<br>
        In my personal webpage you will find more <a href="about">Information</a> about me!<br>
        Also, you will be able to take a look to my <a href="project">projects</a> and <a href="services">services</a><br>
        Do not doubt and <a href="contact">contact me!</a> I look forward to hear about you!
    </p>
    <p>
        My goal is to....
    </p>
<%- include('partials/footer.ejs')%>
