<%- include('partials/header.ejs')%>
    <h1><%= title %></h1>
    <%- include('partials/nav.ejs')%>
    <%- include('partials/main.ejs')%>
    <p>
        Here you will find a brief explanation about 3 projects I had worked on:
    </p>
    <ul>
        <li>Blue Jay's jersey store</li>
            <img src="/images/real_state_agent.jpg" height="250px">
            <p>This project is the begining of an online store where people will be able to purchase 
                a Blue Jay's jersey from the amazing player Vladimir Guerrero Jr. In this page people
                 from different provinces in Canada are gonna be able to look for a store in their
                 provinces to order their jersey!
            </p>
        <li>Real state agent webpage</li>
        <img src="/images/blue_jays_store.jpg" height="250px">
            <p>In this project you will be able to see a webpage from a real state agent where people
                is able to look for agent's information, properties whit all their features, contact form 
                to contact her, and many other things more.
            </p>
        <li>An employee salary calculator</li>
        <img src="/images/employee_salary_calculator.jpg" height="250px">
            <p>This calculator is gonna facilitate to calculate how much money employees for a company
                will earn. It allows all employees to create their account, where they will be able to 
                input their salary information. After that, the project is going to return the information
                of their total earnings.
            </p>
    </ul>
<%- include('partials/footer.ejs')%>