<%- include('partials/header.ejs')%>
    <h1><%= title %></h1>
    <%- include('partials/nav.ejs')%>
    <%- include('partials/main.ejs')%>
    <p>
        All the services I provide are of high quality.
        All the programs I make have a detailed explanation of 
        each part of the code and I am willing to carry out occasional
        tests so that the evolution of the code can be seen.
    
    </p>
    <h2>Services I offer:</h2>
    <h3>Custom Software Development</h3>
    <img src="/images/custom_soft_dev.jpg" height="150px">

    <h3>Maintenance and Support</h3>
    <img src="/images/maintenance.jpg" height="150px">

    <h3>Software Development Consulting</h3>
    <img src="/images/consulting.jpg" height="150px">

    <h3>Mobile Application Development</h3>
    <img src="/images/mobile_app.jpg" height="150px">

    <h3>Process Automation</h3>
    <img src="/images/process_automation.png" height="150px">

<%- include('partials/footer.ejs')%>